body {
    font-family: "Familjen Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #FFFFF2;
}

.generatorType {
    cursor:pointer;
}

.active {
    text-decoration: underline;
}